<!--<html>
    <head>
      <title>TITLE</title>
      <h1>H1: Olive's Blog</h1>
      <h2>H2: Welcome to Random!</h2>
      <h3>H3: Very very random</h3>
    </head>
    <body>
      <p>Paragraph of random text.  Random random text.  So original.  So random. </p>
    </body>
</html>-->
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
          {{ posts }}
        </div>
    </body>
</html>
