<!--<html>
    <head>
      <title>TITLE</title>
      <h1>H1: Olive's Blog</h1>
      <h2>H2: Welcome to Random!</h2>
      <h3>H3: Very very random</h3>
    </head>
    <body>
      <p>Paragraph of random text.  Random random text.  So original.  So random. </p>
    </body>
</html>-->
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
